.form {
    width: 450px;
    margin: 50px auto;
}

.lg-page-title {
    color: rgba(255, 0, 0);
}

.input {
    width: 450px;
    height: 60px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    outline: none;
}

.input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.input:focus {
    border: 1px solid rgb(255, 0, 0);
}

.btn {
    width: 450px;
    height: 60px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: none;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 20px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    background-color: rgb(255, 0, 0);
    color: white;
}

.btn:active {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

.lg-page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lg-page-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}