::-webkit-scrollbar {
    width: 10px
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #F2F2F2;
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(155, 152, 152);
    border-radius: 100px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: rgba(0, 0, 0, 0.856); */
    /* color: rgb(255, 255, 255); */
    font-family: 'Mulish', sans-serif;
}

.app {
    display: flex;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dark_mode{
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}

.sidebar {
    width: 20%;
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.block {
    display: block;
}

.none {
    display: none;
}

.main {
    width: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
}

.main-content {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.left-padding {
    padding-left: 40px;
}